<% provide(:title, "home") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-12">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>      
      <section class="tweet_form">
        <%= render 'shared/tweet_form' %>
      </section>
    </aside>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>ツイートのフィード</h3>
      <%= render 'shared/feed_tweet' %>
    </div>
    <div class="col-md-6">
      <h3>レビューのフィード</h3>
      <%= render 'shared/feed_gadget' %>
    </div>      
  </div>
<% else %>
  <div class="bg-light p-4 p-sm-5 my-4 rounded">
    <h1 class="display-4">Gadget-app</h1>
    <p class="lead">アプリの簡単な説明</p>
    <hr class="my-4">
    <p>ログイン・新規登録はこちら</p>
    <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>