<div class="post" id="tweet-<%= tweet.id %>">
  <div class="tweet-section-left">
    <div class="user_info">
      <%= image_tag tweet.user.image.url %>
      <span class="user"><%= link_to tweet.user.name, tweet.user %></span>
    </div> 
  </div>
  <div class="post-content tweet-section-right">
    <div class="tweet-icon">
      <span>
        <%= time_ago_in_words(tweet.created_at) %>前
      </span>    
      <span class="tweet-icons" id="like_section-<%= tweet.id %>">
        <%= render "tweets/like_section", tweet: tweet %>
      </span>
      <span class="tweet-icons" id="bookmark_section-<%= tweet.id %>">
        <%= render "tweets/bookmark_section", tweet: tweet %>
      </span>
      <span class="tweet-icons">
        <a id="collapse-reply-icon-<%= tweet.id %>" class="" data-bs-toggle="collapse" href="#collapse-reply-<%= tweet.id %>" aria-expanded="false" aria-controls="collapse-reply-<%= tweet.id %> data-bs-toggle="tooltip" data-bs-placement="top" title="返信フォームを開く"">
          <i class="fa-solid fa-reply"></i>
        </a>
      </span>
      <span class="tweet-icons">
        <% if current_user?(tweet.user) %>
          <%= link_to tweet_path(tweet.id), class: "icon_delete", method: :delete, remote: true, data: {confirm: '投稿を削除してよろしいですか？'} do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        <% end %>        
      </span>      
    </div>     
    <hr>
    <div class="p-2">          
      <span class="content text-break"><%= tweet.content %></span>
    </div>    
    <section class="collapse" id="collapse-reply-<%= tweet.id %>">
      <%= form_with(model: @tweet_reply_form, local: false) do |f| %>
        <div id="error_explanation-<%= tweet.id %>" class="text-center">
          <%= render 'shared/error_messages_reply', object: f.object %>
        </div>        
        <div class="mb-3 field message_box">
          <%= f.text_area :content, placeholder: '返信内容を入力', class: 'form-control', id: "reply_form_text_#{tweet.id}" %>
          <%= f.hidden_field :reply_id, value: tweet.id %>
        </div>       
        <div class="text-center m-4">
          <p>
            <%= f.submit '投稿する', class: 'btn btn-create', id: "reply_submit_#{tweet.id}" %>
          </p>
        </div>        
      <% end %>
    </section>
    <div class="reply-count">
      <span id="reply_count-<%= tweet.id %>">
        <%= render "tweets/reply_count", tweet: tweet %>
      </span>
    </div>
    <div class="collapse" id="collapse-<%= tweet.id %>">    
      <div class="accordion-body">
        <div id="replies-<%= tweet.id %>" class="replies">
          <%= render "tweets/reply", tweet: tweet %>
        </div>
      </div>
    </div> 
  </div>
</div>