<%= form_with(model: @user, local: true) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
    <div class="mb-3">
        <%= f.label :name, class: "form-label" %>
        <span class="required-item">必須</span>
        <%= f.text_field :name, class: "form-control", required: true %>
    </div>
    <div class="mb-3">
        <%= f.label :email, class: "form-label" %>
        <span class="required-item">必須</span>
        <%= f.email_field :email, class: "form-control", required: true %>
    </div>
    <div class="mb-3">
        <%= f.label :job, class: "form-label" %>
        <span class="required-item">必須</span>
        <%= f.select :job, [["IT系","IT系"],["非IT系","非IT系"],["学生","学生"],["YouTuber/ブロガー","YouTuber/ブロガー"],["その他","その他"]], {include_blank: "選択してください"}, {class: "form-control", required: true }%>
    </div>    
    <div class="mb-3">
        <%= f.label :image, class: "form-label" %>
        <%= f.file_field :image, class: "form-control" %>
    </div>      
    <div class="mb-3">
        <%= f.label :password, class: "form-label" %>
        <% if yield(:title) == 'ユーザー登録' %>
            <span class="required-item">必須</span>
            <%= f.password_field :password, class: "form-control", required: true %>
        <% else %>
            <%= f.password_field :password, class: "form-control" %>
        <% end %>
    </div>
    <div class="mb-3">
        <%= f.label :password_confirmation, class: "form-label"%>
        <% if yield(:title) == 'ユーザー登録' %>
            <span class="required-item">必須</span>
            <%= f.password_field :password_confirmation, class: "form-control", required: true %>
        <% else %>
            <%= f.password_field :password_confirmation, class: "form-control" %>
        <% end %>
    </div>      
    <div class="text-center m-4">
      <p>        
        <%= f.submit yield(:button_text), class: "btn btn-create" %>
      </p>
    </div>
<% end %>