<% provide(:title, @user.name) %>
<div class="row">
  <%= render 'follow_form' if logged_in? %>
</div>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= image_tag @user.image.url %>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>    
  </aside>
  <div class="col-md-8">
    <ul class="gadgets">
      <%= render @gadgets %>
      <% if current_user == @user %>
        <li>
          <%=link_to '新しいガジェットを登録する', new_gadget_path %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <h3>参加中のコミュニティ (<%= @user.joining_communities.count %>) </h3>
      <% if @user.joining_communities.any? %>
        <ol class="communities">
          <%= render @communities %>
        </ol>
      <% end %>
  </div>
  <div class="col-md-3">
    <h3>ツイート (<%= @user.tweets.count %>) </h3>
      <% if @user.tweets.any? %>
        <ol class="tweets">
          <%= render @tweets %>
        </ol>
      <% end %>
  </div>
  <div class="col-md-3">
    <h3>ツイートブックマーク (<%= @user.bookmarked_tweets.size %>) </h3>
      <% if @user.bookmarked_tweets.any? %>
        <ol class="tweets">
          <%= render @tweet_bookmarks %>
        </ol>
      <% end %>
  </div>
  <div class="col-md-3">
    <h3>ガジェットブックマーク (<%= @user.bookmarked_gadgets.size %>) </h3>
      <% if @user.bookmarked_gadgets.any? %>
        <ol class="gadgets">
          <%= render @gadget_bookmarks %>
        </ol>
      <% end %>
  </div>  
</div>