<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= image_tag @user.image.url %>
      <h1><%= @user.name %></h1>
      <span><%= link_to 'プロフィールを見る', @user %></span>
      <span><b>ツイート:</b> <%= @user.tweets.count %></span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
    <% end %>
  </div>
</div>