<% provide(:title, @user.name) %>
<div class="row justify-content-center">
  <aside class="col-12 col-xl-4">
    <section class="user-profile">
      <div class="p-1 m-1">
        <%= image_tag @user.image.url %>
      </div>
      <div class="pt-2 m-1">
        <h1 class=""><%= @user.name %></h1>
      </div>
      <div class="">
        <%= @user.job %>
      </div>
      <div id="follow_info" class="stats p-1 m-1">
        <%= render 'shared/stats' %>
      </div>
    </section>
    <div class="text-center">
      <%= render 'follow_form' if logged_in? %>
    </div>
  </aside>
  <div class="col-10 col-xl-8">
    <div class="content-header">
      <h3>登録ガジェット一覧</h3>
    </div>
    <div class="gadgets">
      <div id="feed_gadget">
        <%= render "shared/feed_gadget", feed_gadget: @feed_gadget %>
      </div>
      <% if current_user == @user %>
        <div class="add-gadget p-3 m-3 text-center h5">
          <%=link_to new_gadget_path do %>
            <p class="plus-link"><i class="fa-solid fa-circle-plus pe-2"></i>新しいガジェットを登録する</p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row"> 
  <ul id="user_tab" class="nav nav-tabs user-tab" role="tablist">
    <li class="col-12 col-lg-3" role="presentation">     
      <button type="button" id="community_tab" class="nav-link active" data-bs-toggle="tab" data-bs-target="#community_tab_item" role="tab" aria-controls="community_tab_item" aria-selected="true">コミュニティ(<%= @user.joining_communities.size %>) </button>
    </li>
    <li class="col-12 col-lg-3 " role="presentation">
      <button type="button" id="own_tweet_tab" class="nav-link" data-bs-toggle="tab" data-bs-target="#own_tweet_tab_item" role="tab" aria-controls="own_tweet_tab_item" aria-selected="false">ツイート (<%= @user.tweets.size %>) </button>
    </li>
    <li class="col-12 col-lg-3 " role="presentation">
      <button type="button" id="bookmark_tweet_tab" class="nav-link" data-bs-toggle="tab" data-bs-target="#bookmark_tweet_tab_item" role="tab" aria-controls="bookmark_tweet_tab_item" aria-selected="false">ブックマークツイート (<%= @user.bookmarked_tweets.size %>) </button>
    </li>
    <li class="col-12 col-lg-3 " role="presentation">
      <button type="button" id="bookmark_gadget_tab" class="nav-link" data-bs-toggle="tab" data-bs-target="#bookmark_gadget_tab_item" role="tab" aria-controls="bookmark_gadget_tab_item" aria-selected="false">ブックマークガジェット (<%= @user.bookmarked_gadgets.size %>) </button>
    </li>    
  </ul>
  <div id="user_tab_content" class="tab-content">
    <div id="community_tab_item" class="tab-pane active" role="tabpanel" aria-labelledby="community-tab">
      <div class="content-header">
        <h3>コミュニティ</h3>
      </div>
      <div id="feed_community" class="row justify-content-center">
        <%= render 'shared/feed_community', communities: @communities %>
      </div>
    </div>
    <div id="own_tweet_tab_item" class="tab-pane" role="tabpanel" aria-labelledby="own-tweet-tab">   
      <div class="content-header">
        <h3>ツイート</h3>
      </div>
      <div class="row justify-content-center">         
        <div class="col-12 col-lg-10 col-xl-8">
          <div id="feed_own_tweet">
            <%= render 'shared/feed_own_tweet', tweet: @tweet %>
          </div>      
        </div>          
      </div>
    </div>
    <div id="bookmark_tweet_tab_item" class="tab-pane" role="tabpanel" aria-labelledby="bookmark-tweet-tab">
      <div class="content-header">
        <h3 class="d-none d-sm-block">ブックマークツイート</h3>
        <h3 class="d-block d-sm-none">ブックマーク<br>ツイート</h3>
      </div>
      <div class="row justify-content-center">         
        <div class="col-12 col-lg-10 col-xl-8">
          <div id="feed_bookmark_tweet">
            <%= render 'shared/feed_bookmark_tweet', tweet_bookmark: @tweet_bookmark %>
          </div>     
        </div>      
      </div>      
    </div>
    <div id="bookmark_gadget_tab_item" class="tab-pane" role="tabpanel" aria-labelledby="bookmark-gadget-tab">
      <div class="content-header">
        <h3 class="d-none d-sm-block">ブックマークガジェット</h3>
        <h3 class="d-block d-sm-none">ブックマーク<br>ガジェット</h3>        
      </div>
      <div class="row justify-content-center">         
        <div class="col-12 col-lg-10 col-xl-8">
          <div id="feed_bookmark_gadget">
            <%= render "shared/feed_bookmark_gadget", gadget_bookmark: @gadget_bookmark %>
          </div>
        </div>
      </div>
    </div>  
  </div>  
</div>