<div class="form">
  <%= form_with(model: [@gadget, @comment], local: false) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <div class="mb-3 field message_box">
        <%= f.text_area :content, style: "width:100%", placeholder: '新しいコメント', class: 'form-control', id: "comment_form_text"%>
        <%= hidden_field_tag :gadget_id, @gadget %>
      </div>
      <div class="text-center m-4">
        <p>
          <%= f.submit 'コメントする', class: 'btn btn-create' %>
        </p>
      </div>
  <% end %>
</div>