<tbody>
  <tr>
    <th>ガジェット名</th>
    <td><p class="overflow"><%= link_to gadget.name, gadget_path(gadget) %></p></td>
  </tr>
  <tr>
    <th>カテゴリ</th>
    <td><p class="overflow"><%= gadget.category %></p></td>
  </tr>
  <tr>
    <th>型番</th>
    <td><p class="overflow"><%= gadget.model_number %></p></td>
  </tr>
  <tr>
    <th>メーカー</th>
    <td><p class="overflow"><%= gadget.manufacturer %></p></td>
  </tr>
  <tr>
    <th>価格</th>
    <td><p class="overflow"><%= number_to_currency(gadget.price, unit: " 円") %></p></td>
  </tr>
  <tr>
    <th>その他情報</th>
    <td><p class="overflow"><%= gadget.other_info %></p></td>
  </tr>
  <tr>
    <th>投稿者</th>
    <td><p class="overflow"><%= image_tag gadget.user.image.url %><%= link_to gadget.user.name, gadget.user %></p></td>
  </tr>
    <th>最終更新</th>
    <td><p class="overflow"><%= l(gadget.updated_at, format: :long) %></p></td>
  </tr>                
</tbody>