<% provide(:title, @community.name) %>
<div class="row justify-content-center">
  <div class="col-12 col-xl-10">
    <div id="community_<%= @community.id %>">
      <div class="community-detail">
        <div class="community-image-detail">
          <div>
            <%= image_tag @community.image.url%>
          </div>
        </div>
        <div class="community-content">
          <table class="table table-sm community-table-detail">
            <tbody>
              <tr>
                <th>コミュニティ名</th>
                <td><p class="overflow"><%= @community.name %></p></td>
              </tr>
              <tr>
                <th>参加人数</th>
                <td><p class="overflow"><span id="membership_count_<%= @community.id %>"><%= render "communities/membership_count", community: @community %> </span></p></td>
              </tr>
              <tr>
                <th>作成者</th>
                <td><p class="overflow"><%= @community.user.name %></p></td>
              </tr>
              <tr>
                <th>作成日時</th>
                <td><p class="overflow"><%= l(@community.created_at, format: :long) %></p></td>
              </tr>
            </tbody>
          </table>
          <div class="edit-links">
            <% if current_user?(@community.user) %>      
              <div class="link-section">
                <%= link_to edit_community_path(@community) do%>
                  <p class="plus-link"><i class="fa-solid fa-pen-to-square"></i>コミュニティを編集</p>
                <% end %>
              </div>
              <div class="link-section">
                <%= link_to @community, class: "icon-delete", method: :delete, data: {confirm: 'コミュニティを削除してよろしいですか？'} do %>
                  <p><i class="fa-solid fa-trash"></i>コミュニティを削除</p>
                <% end %>
              </div>     
            <% end %>      
          </div>     
        </div>
      </div>
    </div>
  </div>
  <div class="text-center p-2 m-3 mt-1">
    <div id="membership_section_<%= @community.id %>">
      <%= render "communities/membership_section", community: @community %>
    </div>
  </div>     
</div>
<div class="row justify-content-center">
  <div class="col-12">
    <div class="content-header">
      <h3>参加者一覧</h3>
    </div>
    <div id="feed_user">
      <%= render 'shared/feed_user', users: @users %>
    </div>
    <div id="users_page">
      <%= render 'shared/users_page', users: @users %>
    </div>
  </div>
</div>




