<%= form_with(model: @gadget, local: true) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
    <div class="mb-3">
        <%= f.label :name, class: "form-label" %>
        <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="mb-3">
        <%= f.label :category, class: "form-label" %>
        <%= f.text_field :category, class: "form-control" %>
    </div>
    <div class="mb-3">
        <%= f.label :model_number, class: "form-label" %>
        <%= f.text_field :model_number, class: "form-control" %>
    </div>
    <div class="mb-3">
        <%= f.label :manufacturer, class: "form-label" %>
        <%= f.text_field :manufacturer, class: "form-control" %>
    </div>
    <div class="mb-3">
        <%= f.label :price, class: "form-label" %>
        <%= f.text_field :price, class: "form-control" %>
    </div>
    <div class="mb-3">
        <%= f.label :other_info, class: "form-label" %>
        <%= f.text_field :other_info, class: "form-control" %>
    </div>                        
    <div class="mb-3">
        <%= f.label :image, class: "form-label" %>
        <%= f.file_field :image, class: "form-control" %>
    </div> 
    <div class="mb-3">
        <%= f.label :review, class: "form-label" %>
        <%= f.text_field :review, class: "form-control" %>
    </div>      
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>