<%= form_with(model: @gadget, local: true) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
    <div class="mb-3">
        <%= f.label :name, class: "form-label" %>
        <span class="required-item">必須</span>
        <%= f.text_field :name, class: "form-control", required: true %>
    </div>
    <div class="mb-3">
        <%= f.label :category, class: "form-label" %>
        <span class="required-item">必須</span>
        <%= f.select :category, [["PC本体","PC本体"],["モニター","モニター"],["キーボード","キーボード"],["マウス","マウス"],["オーディオ","オーディオ"],["デスク","デスク"],["チェア","チェア"],["その他","その他"]], {include_blank: "選択してください"}, {class: "form-control", required: true} %>
    </div>
    <div class="mb-3">
        <%= f.label :model_number, class: "form-label" %>
        <%= f.text_field :model_number, class: "form-control" %>
    </div>
    <div class="mb-3">
        <%= f.label :manufacturer, class: "form-label" %>
        <%= f.text_field :manufacturer, class: "form-control" %>
    </div>
    <div class="mb-3">
        <%= f.label :price, class: "form-label" %>
        <%= f.number_field :price, class: "form-control" %>
    </div>
    <div class="mb-3">
        <%= f.label :other_info, class: "form-label" %>
        <%= f.text_field :other_info, class: "form-control" %>
    </div>                        
    <div class="mb-3">
        <%= f.label :image, class: "form-label" %>
        <%= f.file_field :image, class: "form-control" %>
    </div> 
    <div class="mb-3 field">
        <%= f.label :review, class: "form-label" %>        
        <span id="rich_text_template"><i class="fa-solid fa-circle-plus"></i>テンプレートを使用する</span>        
        <%= f.rich_text_area :review, class: "form-control rich-text-area" %>
    </div>         
    <div class="text-center m-4">
      <p>        
        <%= f.submit yield(:button_text), class: "btn btn-create" %>
      </p>
    </div>
<% end %>
