<li id="gadget-<%= gadget.id %>">
  <%= image_tag gadget.image.url, size: '80x80' %>
  <span class="name"><%= link_to gadget.name, gadget_path(gadget) %></span>  
  <span class="category"><%= gadget.category %></span>
  <span class="model_number"><%= gadget.model_number %></span>
  <span class="manufacturer"><%= gadget.manufacturer %></span>
  <span class="price"><%= gadget.price %></span>
  <span class="other_info"><%= gadget.other_info %></span>
  <% if current_user?(gadget.user) %>
    <%= link_to '削除', gadget, method: :delete, data: {confirm: 'ガジェットを削除してよろしいですか？'} %>
    <%= link_to '編集/レビューを書く', edit_gadget_path(gadget) %>
  <% end %>
  <% if gadget.liked_by?(current_user) %>
    <p><%=link_to 'いいね解除', gadget_gadget_likes_path(gadget.id), method: :delete %>いいね数:<%= gadget.gadget_likes.size %></p>
  <% else %>
    <p><%=link_to 'いいねする', gadget_gadget_likes_path(gadget.id), method: :post %>いいね数:<%= gadget.gadget_likes.size %></p>
  <% end %>  
  <% if gadget.bookmarked_by?(current_user) %>
    <p><%=link_to 'ブックマークから削除', gadget_gadget_bookmarks_path(gadget.id), method: :delete %>ブックマーク数:<%= gadget.gadget_bookmarks.size %></p>
  <% else %>
    <p><%=link_to 'ブックマークに追加', gadget_gadget_bookmarks_path(gadget.id), method: :post %>ブックマーク数:<%= gadget.gadget_bookmarks.size %></p>
  <% end %>
  <% unless gadget.user_id == current_user.id %>
    <% if gadget.requested_by?(current_user) %>
      <p><%=link_to 'リクエストを解除する', gadget_review_requests_path(gadget.id), method: :delete %></p>
    <% else %>
      <p><%=link_to 'レビューをリクエストする', gadget_review_requests_path(gadget.id), method: :post %></p>
    <% end %>
  <% end %>
  <p>リクエスト数:<%= gadget.review_requests.size %></p>
  <p><%= link_to "リクエストユーザー一覧",gadget_review_requests_path(gadget.id) %></p>
</li>
