<div class="gadget" id="gadget_<%= gadget.id %>">
  <div class="gadget-image-detail">
    <div>
      <%= image_tag gadget.image.url %>
    </div>
    <div class="review-icons">
      <span id="like_section_<%= gadget.id %>">
        <%= render "gadgets/like_section", gadget: gadget %>
      </span>
      <span id="bookmark_section_<%= gadget.id %>">
        <%= render "gadgets/bookmark_section", gadget: gadget %>
      </span>
      <span>
        <%= link_to gadget_review_requests_path(gadget.id), class: "icon-post", method: :get, 'data-bs-toggle': :tooltip, 'data-bs-placement': :top, 'title': :'レビューリクエストしている人を見る' do %>
          <i class="fa-solid fa-users"></i>
        <% end %>
        <span id="review_request_count_<%= gadget.id %>">
          <%= render "gadgets/review_request_count", gadget: gadget %>          
        </span>
      </span>
    </div>
  </div>
  <div class="gadget-content">
    <table class="table table-sm gadget-table-detail">
      <%= render "gadgets/gadget_table", gadget: gadget %>
    </table>
    <div class="edit-links">
      <% if current_user?(gadget.user) %>      
        <div class="link-section">
          <%= link_to edit_gadget_path(gadget), id: "gadget_review_edit" do%>
            <p class="plus-link"><i class="fa-solid fa-pen-to-square"></i>ガジェットとレビューを編集</p>
          <% end %>
        </div>
        <div class="link-section">
          <%= link_to gadget_path(gadget.id), class: "icon-delete", method: :delete, data: {confirm: 'ガジェットとレビューを削除してよろしいですか？'} do %>
            <p><i class="fa-solid fa-trash"></i>ガジェットとレビューを削除</p>
          <% end %>
        </div>     
      <% end %>      
    </div>     
  </div>
</div>
