<% provide(:title, @gadget.name) %>
<div class="row justify-content-center">
  <div class="col-10">
    <div class="gadgets-detail">
      <%= render 'gadgets/gadget_detail', gadget: @gadget %>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-12 col-lg-10 col-xl-8">
    <div class="content-header">
      <h3>レビュー</h3>
    </div>
    <div class="review">
    <% if @gadget.review.blank? %>
      <h3 class="mt-2">レビューがまだありません。</h2>
      <% if current_user?(@gadget.user) %>
        <% if @gadget.review_requests.size > 0 %>
          <div class="mt-4">
            <span class="request-message">レビューを待っている人が<%= @gadget.review_requests.size %>人います！</span>
          </div>
        <% end %>  
          <div class="mt-4">
            <%= link_to edit_gadget_path(@gadget), id: "gadget_review_edit" do%>
              <p class="plus-link"><i class="fa-solid fa-pen-to-square"></i>ガジェットとレビューを編集</p>
            <% end %>
          </div>
      <% else %>
        <span id="detail_review_request_section-<%= @gadget.id %>">
          <%= render "gadgets/detail_review_request_section", gadget: @gadget %>
        </span>        
      <% end %>    
    <% else %>
      <%= @gadget.review %>
    <% end %>    
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-12 col-lg-10 col-xl-8">
    <div class="content-header">
      <h3>コメント</h3>
    </div> 
    <div id="comment_form">
      <%= render 'shared/comment_form', comment: @comment %>
    </div>
    <span id="feed_comment">
      <%= render "shared/feed_comment", comments: @comments %>
    </span>    
  </div>
</div>