<% provide(:title, @gadget.name) %>
<div class="row">
  <div class="col-md-4">
    <%= image_tag @gadget.image.url %>
    <% if @gadget.liked_by?(current_user) %>
      <p><%=link_to 'いいね解除', gadget_gadget_likes_path(@gadget.id), method: :delete %>いいね数:<%= @gadget.gadget_likes.size %></p>
    <% else %>
      <p><%=link_to 'いいねする', gadget_gadget_likes_path(@gadget.id), method: :post %>いいね数:<%= @gadget.gadget_likes.size %></p>
    <% end %>  
  </div>
  <div class="col-md-8">
    <%= @gadget.name %>
    <%= @gadget.category %>
    <%= @gadget.model_number %>
    <%= @gadget.manufacturer %>
    <%= @gadget.price %>
    <%= @gadget.other_info %>
    最終更新日時：<%= @gadget.updated_at %>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <h1>レビュー</h1>
    <%= @gadget.review %>
  </div>
  <div class="col-md-2">
  </div>
</div>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <h2>コメント</h2>
      <% if @user.comments.any? %>
        <ol class="comments">
          <%= render @comments %>
        </ol>
      <% end %>
    <%= render 'shared/comment_form' if logged_in? %>      
  </div>
  <div class="col-md-2">
  </div>
</div>