<%= form_with(model: @community, local: true) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
    <div class="mb-3">
        <%= f.label :name, class: "form-label" %>
        <span class="required-item">必須</span>
        <%= f.text_field :name, class: "form-control", required: true %>
    </div>           
    <div class="mb-3">
        <%= f.label :image, class: "form-label" %>
        <% if yield(:title) == 'コミュニティ新規登録' %>
          <span class="required-item">必須</span>
          <%= f.file_field :image, class: "form-control", required: true %>
        <% else %>
          <%= f.file_field :image, class: "form-control" %>
        <% end %>
    </div> 
    <div class="text-center m-4">
      <p>        
        <%= f.submit yield(:button_text), class: "btn btn-create" %>
      </p>
    </div>    
<% end %>