<header class="header p-2 p-lg-3 mb-5 row">
  <%# ロゴ %>
  <div class="logo fs-2 col-3">
    <%= link_to "GadgetLink",root_path,{class: ""} %>      
  </div>      
  <%# メニュー 通常時 %>
  <div class="menu d-none d-lg-block col-lg-9 text-end">
    <%= link_to "HOME",root_path ,{class: "d-inline-block nav-link"} %>
    <%= link_to "HELP",about_path,{class: "d-inline-block nav-link"} %> 
    <% if logged_in? %>
      <%= link_to "USER",users_path,{class: "d-inline-block nav-link"} %>
      <%= link_to "MYPAGE",current_user,{class: "d-inline-block nav-link"} %>
      <%= link_to "SETTING",edit_user_path(current_user),{class: "d-inline-block nav-link"} %>
      <%= link_to "LOGOUT",logout_path,{class: "d-inline-block nav-link",method: :delete}%>
    <% else %>
      <%= link_to "LOGIN",login_path,{class: "d-inline-block nav-link"} %>
    <% end %>        
  </div>
  <%# メニュー 縮小時 %>
  <div class="menu_btn fs-2 col-9 d-lg-none d-inline-block pe-3 text-end">
    <a class="" data-bs-toggle="collapse" href="#nav_header" aria-expanded="false" aria-controls="nav_header data-bs-toggle="tooltip" data-bs-placement="top" title="返信フォームを開く"">
      <i class="fa-solid fa-bars"></i>
    </a>
  </div>   
  <div class="collapse col-12 d-lg-none text-end" id="nav_header">
    <%= link_to "HOME",root_path ,{class: "d-block nav-link"} %>
    <%= link_to "HELP",about_path,{class: "d-block nav-link"} %> 
    <% if logged_in? %>
      <%= link_to "USER",users_path,{class: "d-block nav-link"} %>
      <%= link_to "MYPAGE",current_user,{class: "d-block nav-link"} %>
      <%= link_to "SETTING",edit_user_path(current_user),{class: "d-block nav-link"} %>
      <%= link_to "LOGOUT",logout_path,{class: "d-block nav-link",method: :delete}%>
    <% else %>
      <%= link_to "LOGIN",login_path,{class: "d-block nav-link"} %>
    <% end %>         
  </div>  
</header>

