<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <%= link_to "Gadget-app",root_path,{class: "d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"} %>
  <ul class="nav nav-pills">
    <li class="nav-item"><%= link_to "ホーム",root_path,{class: "nav-link active"} %></li>
    <li class="nav-item"><%= link_to "使い方",about_path,{class: "nav-link"} %></li>
    <% if logged_in? %>
      <li class="nav-item"><%= link_to "マイページ",current_user,{class: "nav-link"} %></li>
      <li class="nav-item"><%= link_to "ログアウト",logout_path,{class: "nav-link",method: :delete}%></li>
    <% else %>
      <li class="nav-item"><%= link_to "ログイン",login_path,{class: "nav-link"} %></li>
    <% end %>

  </ul>
</header>